@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** for debugging **/
/* div > * {
  border: 1px dotted black;
} */
#hero-video-slider {
  width: 100%;
  height: 400px;
  min-height: 400px;
  font-weight: 900;
  font-family: "Rebond";
  background-color: #000;
}
.videos {
  height: 100%;
}

.video-item {
  height: 100%;
  position: relative;
}
.video-wrapper {
  height: 100%;
  overflow: hidden;
}

#hero-video-slider video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero-video-slider video:nth-child(2n + 1) {
  animation: fade-video 5s, zoom-out-video 5.5s;
}

.hero-desc {
  width: 90%;
  height: fit-content;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgb(255, 255, 255);
  animation: slide-text-left 5s;
}
.hero-desc p {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hero-desc:hover p {
  animation-fill-mode: forwards;
  -webkit-line-clamp: 4;
  max-width: 80%;
}

.hero-desc button {
  margin: 15px 0 10px 0;
  padding: 5px 15px 5px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  font-family: "Rebond";
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  transition-timing-function: linear;
  transition: all 0.3s ease-in-out;
}

.hero-desc:hover button {
  background-color: #000;
  color: #fff;
}
.desc-shadow {
  width: 80%;
  height: 0px;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  background-color: #0000007d;
  box-shadow: -100px -50px 74px 53px #0000008c;
  transition-timing-function: linear;
  transition: all 0.3s ease-in-out;
}
.video-item:hover .desc-shadow {
  animation: fill-shadow 0.3s;
  width: 100%;
  height: 100%;
}

.loading-percent {
  height: 3px;
  width: 100%;
  position: absolute;
  margin-top: -3px;
  background-color: #000000;
  box-shadow: -1px 1px 2px #00000069;
}
